<!DOCTYPE html>
<html id="main_window">
<title>Connect.io! - Chat View</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="stylesheets/chat-styles.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.0/socket.io.js"></script>

<body>

  <!-- TODO -->
  <!-- Note: * indicates priority features
     |x| - *Add a scroll-bar to chat log window
     |x| - *Add auto-scroll feature in chat window to keep recent messages in view
     |x| - *Define chat chat window viewport to contain overflow text
     |x| - Add chat indicator when user leaves chat/closes browser
     |x| - Add chat indicator when user joins chat
     |x| - Clean up styling, move to designated css files
     |x| - Add chat indicator for when a user is typing a message
     |x| - Add side-bar with currently active/logged-in user handles
     |x| - Add typing animation in side-bar for user handle
     |x| - Handle message send when user activates enter key in message input
     |x| - Clean up chat label and message styling so that they have more aesthetic spacing/dont look so cluttered
     |x| - Add styling for chat messages so that they show some delineation between one another, (individual messages should be discernable at a glance)
     |x| - Add unique appearance for messages originating from a specific user so that messages from multiple users can be discerned at a glance
     |x| - Complete RWD for /chat
    -->

  <header>
    <div id="chat_header">
      <h2>Connect.io chat</h2>
    </div>
  </header>

  <div id="content">
    <div id="main-content">

      <h4>Hi,
        <%= username %>!</h4>

      <input type="hidden" id="username" value="<%= username %>">
      <input type="hidden" id="unq_color" value="<%= unq_color %>">

      <label class="chatarea_label">Chat log: </label>
      <div id="split_content">
        <div id="chat-container">
          <div id="chat-area"></div>
        </div>

        <div id="side-content">
          <label>
            <span class="bold_text">Users:</span>
          </label>

          <div id="users_div">

          </div>
        </div>
      </div>

      <div id="chat-indicator"></div>

      <div id="message_input_div">
        <input type="text" id="message_input" placeholder="type message here">

        <button id="send_btn">Send</button>
      </div>

    </div>

  </div>

  <script src="js/chat.js">
  </script>

</body>

</html>